.istelevision{
    background-color: rgb(194, 194, 199);
    background-size: cover;
    background-position: center;
}
.television-Header{
    margin-bottom: 10px;
    color: rgb(4, 20, 4);
}
.te-event{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 120px; 
    max-width: 400px; 
    margin-left: 150px;
    margin-top: 50px;
    padding: 10px; 
    border-radius: 8px; 
}
.tele-award img,.tele-fashion img,.tele-game img,.tele-music img{
    width: 400px;
    border-radius: 8px;
}

.tele-award p,.tele-fashion p,.tele-game p,.tele-music p{
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 18px;
}
.tele-award h3,.tele-fashion h3,.tele-game h3,.tele-music h3{
    font-size: 30px;
}
