.Header{
     background-image: url("/home/kugan/Documents/Final Project Front End/src/assets/photo-1653821355736-0c2598d0a63e.jpeg" );
     background-size: cover;
      background-position: center;
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
      text-align: center;
      position: relative;
      z-index: 1;
}
.Header h1{
    color: white;
    margin-right: 650px;
    font-family: Courier, monospace;
    font-size: 90px;
}
.outline{
    color: white;
    font-family: "Garamond", Serif;
    margin-right: 500px;
    margin-block-start: -79px;
}
.tagline{
    color:rgb(255, 230, 0) ;
    font-family: "Cursive";
    font-size: 50px;
    font-family: "Brush Script MT", cursive;
    margin-right: 300px;
    margin-block-start: 9px;

}
.whatsapp-img{
    width: 70px;
    padding-left: 1200px;
    padding-top: 300px;
}
.front-para{
    background-color: rgb(231, 231, 231);
    padding-top: 30px;
    height: 650px;

}
.front-para p,h2{
    text-align: start;
}

.extera-add{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 10px;
    background-color: rgb(194, 194, 199);
}
.front-page img{
    width: 300px; 
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}
.extera-add p{
    text-align: start;

}
.front-page{
    box-shadow: 3px 3px 6px  rgb(19, 19, 18);
    margin-bottom: 8px;

}
.front-para-one{
    display: flex;
    
}
.front-para h2,p{
        margin-left: 10px;
}
.front-para-one img{
    border-radius: 10px;
}
